<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Corona Virus Tracker App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p th:text="${testName}"></p>
<table>
    <tr>
        <th>State</th> <!--These are the headlines name that we wanted to see-->
        <th>Country</th>
        <th>Latest Cases</th>
    </tr>
    <tr th:each="locationStat : ${locationStatus}"> <!--here locationStat is an iterator who is iterating in the locationStatus Value-->
        <td th:text="${locationStat.state}"></td> <!-- here the value of the state,country and latestTotalCases is from the locationStats.java class -->
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
    </tr>
</table>

</body>

</html>